.App {
  text-align: center;
}

.App-section {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-main {
  min-height: 75vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 0 20px;
}

.App-header, .App-footer {
  padding: 20px;
}

.App-footer {
  padding-top: 50px;
}

.App-link {
  color: #61dafb;
}

.controlsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiListItem-root.odd {
    background-color: black;
}


.typing-loader{

    width: 6px;
    height: 6px;
    -webkit-animation: line 1s linear infinite alternate;
    -moz-animation: line 1s linear infinite alternate;
    animation: line 1s linear infinite alternate;
}
@-webkit-keyframes line{
    0%{
        background-color: rgba(0,128,0, 1); /* Green */
        box-shadow: 12px 0px 0px 0px rgba(255,165,0,0.2), /* Orange */
        24px 0px 0px 0px rgba(255,255,0,0.2); /* Yellow */
    }
    25%{
        background-color: rgba(0,128,0, 0.4); /* Green */
        box-shadow: 12px 0px 0px 0px rgba(255,165,0,2), /* Orange */
        24px 0px 0px 0px rgba(255,255,0,0.2); /* Yellow */
    }
    75%{
        background-color: rgba(0,128,0, 0.4); /* Green */
        box-shadow: 12px 0px 0px 0px rgba(255,165,0,0.2), /* Orange */
        24px 0px 0px 0px rgba(255,255,0,2); /* Yellow */
    }
}

@-moz-keyframes line{
    0%{
        background-color: rgba(0,128,0, 1); /* Green */
        box-shadow: 12px 0px 0px 0px rgba(255,165,0,0.2), /* Orange */
        24px 0px 0px 0px rgba(255,255,0,0.2); /* Yellow */
    }
    25%{
        background-color: rgba(0,128,0, 0.4); /* Green */
        box-shadow: 12px 0px 0px 0px rgba(255,165,0,2), /* Orange */
        24px 0px 0px 0px rgba(255,255,0,0.2); /* Yellow */
    }
    75%{
        background-color: rgba(0,128,0, 0.4); /* Green */
        box-shadow: 12px 0px 0px 0px rgba(255,165,0,0.2), /* Orange */
        24px 0px 0px 0px rgba(255,255,0,2); /* Yellow */
    }
}

@keyframes line{
    0%{
        background-color: rgba(0,128,0, 1); /* Green */
        box-shadow: 12px 0px 0px 0px rgba(255,165,0,0.2), /* Orange */
        24px 0px 0px 0px rgba(255,255,0,0.2); /* Yellow */
    }
    25%{
        background-color: rgba(0,128,0, 0.4); /* Green */
        box-shadow: 12px 0px 0px 0px rgba(255,165,0,2), /* Orange */
        24px 0px 0px 0px rgba(255,255,0,0.2); /* Yellow */
    }
    75%{
        background-color: rgba(0,128,0, 0.4); /* Green */
        box-shadow: 12px 0px 0px 0px rgba(255,165,0,0.2), /* Orange */
        24px 0px 0px 0px rgba(255,255,0,2); /* Yellow */
    }
}
