.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-header {
    background-color: #282c34;  /* Dark background */
    color: white !important;               /* White text color */
    display: flex;              /* Uses flexbox for layout */
    align-items: center;        /* Centers content vertically */
    justify-content: center;    /* Centers content horizontally */
    padding-top: 20px;          /* Padding at the top, adjusted for header */
    padding-bottom: 20px;       /* Padding at the bottom, same as footer */
    font-size: 14px;            /* Slightly larger font size for header */
}


.App-footer {
    background-color: #282c34;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 10px
}

.App-link {
  color: #61dafb;
}

.controlsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiListItem-root.odd {
    background-color: #eeeeee
}


.typing-loader{

    width: 6px;
    height: 6px;
    -webkit-animation: line 1s linear infinite alternate;
    -moz-animation: line 1s linear infinite alternate;
    animation: line 1s linear infinite alternate;
}
@-webkit-keyframes line{
    0%{

        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
        24px 0px 0px 0px rgba(0,0,0,0.2);

    }
    25%{
        background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,2),
        24px 0px 0px 0px rgba(0,0,0,0.2);

    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
        24px 0px 0px 0px rgba(0,0,0,2);

    }
}

@-moz-keyframes line{
    0%{

        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
        24px 0px 0px 0px rgba(0,0,0,0.2);

    }
    25%{
        background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,2),
        24px 0px 0px 0px rgba(0,0,0,0.2);

    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
        24px 0px 0px 0px rgba(0,0,0,2);

    }
}

@keyframes line{
    0%{

        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
        24px 0px 0px 0px rgba(0,0,0,0.2);

    }
    25%{
        background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,2),
        24px 0px 0px 0px rgba(0,0,0,0.2);

    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
        24px 0px 0px 0px rgba(0,0,0,2);

    }
}
